@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./src/assets/imagemFundo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.asideLogin {
  display: flex;
  height: 590px;
  width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.lbl_Bemvindo {
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin: 20px 0;
}

input {
  border: none;
  width: 250px;
  padding: 12px 8px;
  border-bottom: 2px solid #0a2533;
  font-size: 16px;
  outline: none;
  background: none;
  color: #000;
}

input::placeholder {
  color: transparent;
}

label {
  position: absolute;
  left: 8px;
  top: 12px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #222;
}

input:focus~label,
input:not(:placeholder-shown)~label {
  top: -8px;
  font-size: 12px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.botaoLogin {
  padding: 5px 50px;
  border-radius: 10px;
  border-color: #00AB72;
  font-weight: bolder;
  font-size: 15px;
  color: #00AB72;
}

.botaoLogin:hover {
  background-color: rgb(218, 218, 218);
}

/* HOME */

.divHome {
  height: 100vh;
  width: 100vw;
  color: white;
}

.headerHome {
  height: 130px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 100px;
  color: white;
}

.navHome {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navHomeBotoes {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;

}

/* Botão Conecte-se */
.btnConectar {
  background-color: #00AB72;
  font-weight: bolder;
  color: #fafafa;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.logoHome {
  width: 100px;
  height: 100px;
}

/* Dropdown */
.dropdownHome {
  position: relative;
 
}

.dropdown-menu-home1 {
  
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00AB72;
  padding: 10px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  list-style: none;
  min-width: 180px;
  z-index: 10;
}

.dropdown-menu-home1 li {
  margin: 5px 0;
  text-align: justify;
  padding-left: 18px;
}

.dropdown-menu-home1 li a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.dropdownHome:hover .dropdown-menu-home1 {
  display: flex;
}
/* Dropdown 2 */
.dropdownHome1 {
  position: relative;
}

.dropdown-menu-home2 {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00AB72;
  padding: 10px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  list-style: none;
  min-width: 180px;
  z-index: 10;
}

.dropdown-menu-home2 li {
  margin: 5px 0;
  text-align: justify;
  padding-left: 18px;
}

.dropdown-menu-home2 li a {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.dropdownHome1:hover .dropdown-menu-home2 {
  display: flex;
}

.divTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;  
}

.txt2Home{
  display: block;
  font-weight: bolder;
  font-size: 70px;
    text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000;
}

.txt3Home{
  font-size: 30px;
  font-weight: bolder;
    text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
}

/* HOME */


/* CADASTRO */

.asideCadastro{
  display: flex;
  height: 720px;
  width: 650px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  padding: 20px;  
}

.logoCadastro{
  display: flex;
  width: 90px;
  height: 90px;
  align-self: flex-start;
  transform: translateY(60px);
}

.h1Cadastro{
  display: flex;
  align-self: flex-end ;
  transform: translateY(-30px);
  font-size: 23px;
  width: 450px;
  height: auto;
}

.labelCadastro {
  position: absolute;
  left: 8px;
  top: 12px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #222;
}

.inputGroupCadastro {
  position: relative;
  margin: 20px 0;
}
.cadastro{
  margin-bottom: 50px;
}


/* CADASTRO */