@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center; 
  align-items: center;         
  margin: 0 auto;
  padding: 100px 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./src/assets/imagemFundo.jpg');   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; 

}

.asideLogin {
  display: flex;
  height: 100vh;
  width: 100vw;
  height: 590px;
  width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  white;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.lbl_Bemvindo {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin: 20px 0;
}

input {
  border: none;
  width: 250px;
  padding: 12px 8px;
  border-bottom: 2px solid #0a2533;
  font-size: 16px;
  outline: none;
  background: none;
  color: #000;
}

/* placeholder transparente pra não atrapalhar */
input::placeholder {
  color: transparent;
}

label {
  position: absolute;
  left: 8px;
  top: 12px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #222;
}

/* label sobe ao focar ou quando tiver texto */
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -8px;
  font-size: 12px;
}

.logo {
  width: 110px;
  height: 110px;
  margin-top: 10px;
}

.botaoLogin{
  padding: 5px 50px;
  border-radius: 10px;
  border-color: #00AB72;
  font-weight: bolder;
  font-size: 15px;
  color: #00AB72;  
}

.botaoLogin:hover{
  background-color: rgb(218, 218, 218);
}



